<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.fengchaohuzhu.box.tester"
  >

  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@drawable/launcher_icon"
    >

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:background="#223689"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".LockActivity"
      android:label="@string/lock_title"
      android:background="#223689"
      />
    <activity
      android:name=".CardActivity"
      android:label="@string/card_title"
      android:background="#223689"
      />

  </application>

</manifest>
